*,
*::after,
*::before{
    box-sizing: border-box;
}
.container {
    width: 1200px;
    background-color: aqua;
}


.alert{color:red;}
.form__group{margin: 10px 0;}
.form__group input{width: 250px; height: 50px; border-radius: 30px;}
.myclass{color:purple;}

/*.ttt {color:blue}*/